* {
  margin: 0;
  padding: 0;
}

.input_field {
  display: flex;
  flex-direction: column;
}

a {
  border-bottom: 1px solid blue;
}

h1 {
  margin-top: 3vh;
}

.input_field_links {
  display: flex;
  justify-content: center;
  gap: 3vh;
}
.submit_general {
  margin: 1em;
  background-color: green;
}

.info_DOM,
.links_DOM {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}

.edit_button_general {
  max-width: 4.5rem;
  max-height: 2.5rem;
  position: absolute;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
  background-color: rgba(150, 0, 0, 0.5);
}
