#root {
  min-width: 980px;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.read-the-docs {
  color: #888;
}

.divider {
  border-bottom: 2px solid black;
  text-align: left;
}

.date {
  font-weight: 100;
}
